.pro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 70vh;
  width: 90vw;
  margin: 0px;
}

.container {
  margin: 3rem auto 3rem auto;
}
